.navigation {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.navigation__menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 768px) {
    .navigation__menu {
        display: none;
    }
}

.navigation__li {
    margin: 0 16px 0 0;
}

.navigation__li:last-child {
    margin: 0;
}

.navigation__link {
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 18px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
}

.navigation__li:link {
  font-weight: 500;
  color: chartreuse;
}

.navigation__li:hover {
    opacity: 0.6;
}

.navigation__link:focus {
  font-weight: 500;
  color: rgb(0, 17, 255);
}
.navigation__link:active {
  font-weight: 500;
  color: aqua;
}

/* .bold {
    font-weight: 500;
} */

.navigation__right-side {
    margin: 21px 0;
}

.navigation__register {
    margin-right: 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-family: 'Inter', 'Arial', sans-serif;
    text-decoration: none;
    color: #000;
}

.navigation__register:hover {
    opacity: 0.6;
}

.navigation__button {
    width: 76px;
    height: 32px;
    background-color: #3456F3;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-family: 'Inter', 'Arial', sans-serif;
}

.navigation__button:hover {
    opacity: 0.6;
}

.navigation__burger-menu {
    display:none;
    z-index: 1;
}

@media all and (max-width: 768px) {
    .navigation__burger-menu {
        display: block;
    }
}

.navigation__menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 23px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 2;
    margin: 12.5px 0;
  }
   
  .navigation__menu-btn > span,
  .navigation__menu-btn > span::before,
  .navigation__menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: black;
    transition-duration: .25s;
  }
  .navigation__menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .navigation__menu-btn > span::after {
    content: '';
    top: 8px;
  }

  .navigation__menubox{
    max-width: 520px;
    height: 100%;
    margin: 0 0 0 248px;
    list-style: none;
    background-color: white;
    transition-duration: .25s;
    z-index: 0;
    padding: 159px 0 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media all and (max-width: 490px) {
    .navigation__menubox {
        margin: 0;
        padding: 144px 0 48px;
    }
}

  .navigation__background {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1;
  }

  .navigation__menu-item {
    display: block;
    margin: 0 0 28px;
    color: #333;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    transition-duration: .25s;
  }

  @media all and (max-width: 490px) {
    .navigation__menu-item {
      margin: 0 0 24px;
    }
}

  .navigation__menu-item:hover {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
  }

  #menu-toggle{
    opacity: 0;
  }

  #menu-toggle:checked ~ .navigation__menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .navigation__menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .navigation__menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .navigation__background{
    visibility: visible;
    right: 0;
  }
